.appbar-name-and-title{
  color: #fff;
  font-size: 20px !important;
}

.global-search {
  left: 130px;
  position: relative;
}

.home-appbar {
  min-height: 50%;
  width: 100%;
  align-items: center;
  background: rgb(0, 120, 215);
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}


.MuiAutocomplete-root .MuiOutlinedInput-root {
  background-color: #fff;
}

.MuiOutlinedInput-root.MuiInputBase-sizeSmall{
  border-radius: 100px;
}

.policy-appbar {
  min-height: 50%;
  width: 100%;
  align-items: center;
  background: rgb(0, 120, 215);
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}
