.ageOfDwelling,
.siding,
.waterLossPreventionDevice,
.ageOfRoof,
.garage,
.smartDwelling,
.roofType,
.dwellingSquareFeet,
.videoSmartDwelling {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.ageOfDwelling > input, .ageOfRoof > input {
  margin: 0 12px 0 0;
  min-width: 177px;
}

.dwellingSquareFeet > input {
  margin: 0 16px 0 0;
  min-width: 177px;
}

.property-characteristics-container {
  display: flex;
  width: 97vw;
  height: 30vh;
  border-bottom: 1px solid black;
}
.property-characteristics {
  display: flex;
    flex-direction: column;
}
.characteristics {
  display: flex;
  width: 97vw;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ageOfDwelling > input,
.ageOfRoof > input,
.dwellingSquareFeet > input{
  position: relative;
  left: 48px;
  width: 180px;
}

.dwellingSquareFeet > input {
  left: 43px;
}