.policy {
  align-content: flex-start;
  width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    overflow: hidden;
    justify-content: center; 

}

.effectiveDate > input, .policy-owner-full-name > input, .submissionId > input, .priorInsurance > input {
  background-color:#d5d4d4;
  height:fit-content;
  width: 100%
}

.footer-wrapper{
  height: 20%;
}

textarea[id='Named Insured Address']{
  background-color:#d5d4d4;
}

label, input, button, textarea, select {
  padding: 10px;
  width: 200px;
  border: 1px solid black;
  background: white;
  color: black;
  /* text-align: right; */
  font-size: 14px;
}
label {
  border: none;
  background: none;
  text-align: left;
}

.container {
  display: flex;
  width: 100vw;
  padding: 20px;
  flex-direction: column;
  max-height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.risk-management {
  display: flex;
  flex-direction: column;
}

.footer-container {
  border: none;
  padding: 30px;
}

.underwriting {
  border-bottom: none;
}

i {
  display: flex;
  align-items: center;
  position: relative;
  right: 20px;
}