.home {
  width: 100vw;
    height: 100vh;
    background: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

label, input, button {
  padding: 10px;
}

.load-text {
  font-size: 35px;
}

.mainPageLogo {
  display: block;
  position: absolute;
  top: 0;
  left: 1%; 
}