.home {
  align-content: space-between;
  width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;  

}

label, input, button {
  padding: 10px;
}

.load-text {
  font-size: 35px;
}

.mainPageLogo {
  top: 0;
  left: 1%; 
  height: 16px;
}