.footer {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
.footer-left {
  width: 40vw;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.footer-right {
  width: 41vw;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.back-btn {
  cursor: pointer;
}

.Submit-btn-inactive, .Save-btn-inactive, .Back-btn-inactive {
  border-radius: 4px;
    background: #d5d4d4;
    cursor: not-allowed;
    color: #000000;
    height: 25%;
    margin-top: 20px;
}

.Submit-btn-active, .Save-btn-active, .Cancel-btn-active, .Back-btn-active {
  border-radius: 4px;
    background: rgb(0, 120, 215);
    cursor: pointer;
    color: #ffffff;
    height: 25%;
    margin-top: 20px;
}

